extends layout

block content
            .col-sm-9
                h1.
                    Lista de Presupuestos
                form#formAddBudget.form-group(name="createBudget",method="post",action="/presupuestos/crear")
                    button.btn.btn-lg.btn-primary(type='submit')
                        i.glyphicon.glyphicon-plus
                        |  Crear Presupuesto
                .col-sm-4.col-md-4.pull-right
                    form#formSearchTerm.navbar-form(name="searchTerm", method="post", action="/presupuestos/filtrar", role='search')
                        .input-group
                            input#srch-term.form-control(type='text', placeholder='Buscar', name='search_term', value='#{terminobusqueda}')
                            .input-group-btn
                                button.btn.btn-default(type='submit')
                                    i.glyphicon.glyphicon-search

                table.table.table-hover.table-bordered.table-responsive
                    thead
                        tr
                            th #ID
                            th Descripción
                            th Fecha
                            th Precio
                            th Peso
                            th Editar
                            th Eliminar
                    tbody
                        each presupuesto, i in listapresupuesto
                            tr
                                th(scope='row') #{presupuesto.id}
                                td #{presupuesto.descripcion}
                                td #{presupuesto.fecha}
                                td #{presupuesto.precio}
                                td #{presupuesto.peso}
                                td
                                    form(method="get",action="/presupuestos/editar/#{presupuesto.id}")
                                        button.btn.btn-primary.btn-default.btn-xs(title="Editar")
                                            span.glyphicon.glyphicon-edit
                                td
                                    form(onsubmit="return confirm('Esta seguro que quiere eliminar este presupuesto?');", method="put",action="/presupuestos/delete/#{presupuesto.id}")
                                        button.btn.btn-danger.btn-default.btn-xs(title='Eliminar')
                                            span.glyphicon.glyphicon-trash